*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: gray;
}
div{
  
    height: 60px;
    background-color: black;
    display: block;
    border: 5px solid white;
   
}
.link{

    color:orange ;
  


}
.search{
    background-color: rgb(222, 147, 8);
}
a{
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
